In [11]:
# 명령모드에서 m=>마크다운(markdown) 모드 => 설명

In [12]:
age = 20
print(age)
print(age)
print(age)

20
20
20

# 데이터 타입

## 데이터 타입 종류
- 숫자형
    - 정수형
    - 실수형
- 논리형
- 문자열

In [13]:
age=30
tall=175.32
type(age)

int

In [14]:
10**2

100

In [15]:
10/3

3.3333333333333335

## 논리형

In [16]:
b1=True
b2=False

In [17]:
print(b1)
print(b2)

True
False

In [55]:
# num=int(input("입력: "))

In [19]:
num>5

False

In [20]:
"음수" if num<0 else "양수"
"dPddsdfa" if num>=5 else "wow"

'dPddsdfa'

In [21]:
name=None # 저장공간, 즉 변수는 필요하지만 당장 넣을 값은 없을 때 None 사용
name='홍길동'
bool(name)
name if bool(name) else "이름 없음"

'홍길동'

### 문자열

In [22]:
txt = """안녕
하
세
요"""
print(txt)

안녕
하
세
요

In [23]:
address="서울시 강남구 서초동"
"서초" in address

True

In [24]:
len(address)

11

In [25]:
member_id="abc1111"
"사용가능" if len(member_id)>5 else "사용불가"

'사용가능'

In [26]:
value="안녕하세요, 반갑습니다."
print(len(value))

13

In [27]:
print(value[-1])
print(value[-5])

.
갑

In [28]:
value[0:5:2]

'안하요'

### 문자열 포메팅fromatting

In [2]:
my_format="이름: {}, 나이: {}, 주소: {}"
print(my_format)
f1=my_format.format('홍길동',30,'서울')
print(f1)
f2=my_format.format('이영희',25,'인천')
f3=my_format.format('박영수',25,'서울')
print(f2);print(f3);
my_format2="이름: {name}, 나이: {age}, 주소: {address}"
f4=my_format2.format(name="홍길동",age=50,address='부산')
print(f4)

이름: {}, 나이: {}, 주소: {}
이름: 홍길동, 나이: 30, 주소: 서울
이름: 이영희, 나이: 25, 주소: 인천
이름: 박영수, 나이: 25, 주소: 서울
이름: 홍길동, 나이: 50, 주소: 부산

In [3]:
name="홍길동"
age=40
address="인천"

my_format="이름: {}, 나이: {}, 주소: {}"
print(my_format.format(name,age,address))
print(f"이름: {name}, 나이: {age}, 주소: {address}")
a=f"이름: {name}, 나이: {age}, 주소: {address}"
print(a)

이름: 홍길동, 나이: 40, 주소: 인천
이름: 홍길동, 나이: 40, 주소: 인천
이름: 홍길동, 나이: 40, 주소: 인천

In [36]:
# 포멧 % (넣어줄 변수들)
print("이름: %s, 나이: %d, 키: %f, 주소: %s, %d%%" % ("홍길동", 20, 165.3, "서울",50))

이름: 홍길동, 나이: 20, 키: 165.300000, 주소: 서울, 50%

### string 주요 메소드

In [37]:
value="사과,귤,수박,복숭아"
result=value.split(",")
print(result)

['사과', '귤', '수박', '복숭아']

In [38]:
str="    abc   "
result=str.strip()

# strip의 변수는 문자열로 넣더라도 무조건 삭제대상인 글자 하나의 집합체로 본다.

print(result)
print(str)

abc
    abc

In [39]:
print("xxx홍길동xxx".strip("x"))

홍길동

In [40]:
print("abcdef".replace("abc","가나다"))

가나다def

In [41]:
value="abcabcsdfsdfaabc"
print(value.count("abc"))

3

In [42]:
value="안녕하세요. 반갑습니다. 안녕하세요."
print(value.index("안녕",5))

14

### 문자열
#### 과제

In [43]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.

In [44]:
value="901211-1027213"
print(value[:6])

901211

In [45]:
#2.  "안녕하세요" 를 10번 출력하시오.

In [46]:
value="안녕하세요"*10
print(value)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [47]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

In [49]:
name="TV"
price=300000
maker = "LG"

my_format=f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}"
print(my_format)

제품명 : TV, 가격 : 300000, 제조사 : LG

In [50]:
print(name,price,maker)

TV 300000 LG

In [10]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

In [52]:
value= "사과 복숭아 귤 배"
# value.find("수박")
print("수박" in fruits)

False

In [ ]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.

In [63]:
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
str_value.count("a")

9

In [ ]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"

In [64]:
tel = "010-7777-9999"
value=tel.replace("-","")
print(value)

01077779999

In [ ]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"

In [65]:
value = "Niceman"
print(value[-3:])

man

In [ ]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"

In [53]:
url = "http://daum.net"
# urls=url.lstrip("http://")
# 만약 url 중에서 strip의 인자 중 하나라도 다른 부분에 h,t,p,':','/' 가 나왔었다면 오답.
# 따라서
urls=url.replace("http://","")
# 가 문제의도에 맞는 풀이
print(urls)

daum.net

In [54]:
# input()은 무조건 string으로 변환. 
# 따라서 사용할 데이터타입으로 캐스팅 이후 사용할 것

# 평서문을 주석으로 토글하는 단축키 : Control + '/'

# 주피터노트북의 실행과정
# REPL(Read,Evaluate,Print,Loop)
# 입력된 코드를 전체를 읽고, 평가후, 출력하고, 반복하는 게 
# 주피터의 코드실행과정