## 리스트
- 순서가 있는 자료구조
    - 순서: index로 원소들이 관리된다. 추가한 순서대로 저장되어 관리된다.

In [2]:
# 생성 [v,v,v,v]
list1=[0,1,2,3,4,5,6,7,8,9,10]
list2=['홍길동','박영희','이명수']
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '박영희', '이명수']

In [3]:
list3=[100,2.5,None,"abc",True,False,100]
list3

[100, 2.5, None, 'abc', True, False, 100]

### indexing/slicing

In [6]:
print(list1[0])
print(list1[-1])
list1[1:3]=[0,0]
print(list1)
list1=[0,1,2,3,4,5,6,7,8,9,10]
list1[1:11:2]=[0,0,0,0,0]
# list1[1:11:2]=[0,0]    # step을 줘서 변경하려면 원소의 갯수 맞춰야
print(list1)

0
10
[0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [12]:
num_list=[1,2,3]
num_lst=[]
print(len(num_lst))

str_lst=['leo','eden']
str_lst.sort()
print(str_lst)

0
['eden', 'leo']

In [ ]:
a=[10,20,30]
v1=a[0]
v2=a[1]
v3=a[2]
print(v1,v2,v3)

In [ ]:
v1,v2,v3=[10,20,30]
print(v1,v2,v3)

In [ ]:
a,b,c=num_list
print(a,b,c)

In [ ]:
# in, not in
c_list=['서울','부산','인천','광주','대구']
print('서울' in c_list)
print('대전' not in c_list)
print('대전' in c_list)

### 주요 메소드

In [ ]:
c_list.append('울산')
print(c_list)

In [ ]:
c_list+['성남','대전','구리']

In [ ]:
c_list.extend(['성남','대전','구리'])
print(c_list)

In [ ]:
print(c_list)
print(sorted(c_list)) # sorted(): 내장함수
print(c_list)
c_list.sort()
print(c_list)

In [ ]:
c_list.sort(reverse=True) # 내림차순
print(c_list)

In [ ]:
# [1,"가"].sort()
# 타입이 같은 리스트만 소팅 가능

In [ ]:
c_list.insert(0,"청주") # 0번 index에 "청주"를 삽입
print(c_list)
c_list.insert(2,"충주")
print(c_list)

In [ ]:
c_list.remove('충주')
print(c_list)

In [ ]:
if "뉴욕" in c_list:
    c_list.remove("뉴욕")
else:
    print("뉴욕은 없다")

In [ ]:
c_list.pop(0)
print(c_list)

In [ ]:
c_list.extend(['서울','서울','서울'])
c_list

In [ ]:
print(len(c_list))
print(c_list.count('서울'))
print(c_list.count('홍콩'))

In [ ]:
c_list.clear()
print(c_list)
print(len(c_list))

## 튜플(Tuple)

In [ ]:
t=(1,2,3)
type(t)

In [ ]:
t1=1,2,3
type(t1)

In [ ]:
# 튜플 대입
v1,v2,v3=1,2,3
t3=(1,)
print(type(t3))
t4=(1)
print(type(t4))

In [ ]:
t6=(10,20,30)
l6=list(t6) # 튜플을 리스트로 변환
print(t6)
print(l6)

In [25]:
# 튜플을 이용한 빠른 값 교체
x=10
y=100
tmp=y
y=x
x=tmp # 이렇게 하던 것을
print(x,y)

x,y=y,x # 이렇게 튜플을 이용하면 쉽게 바꿀 수 있다.
print(x,y)

100 10
10 100

## 딕셔너리(Dictionary)
- key-value 쌍으로 값들을 모아서 관리.
- key값은 중복을 허용하지 않는다.
- value는 중복된 값을 저장할 수 있다.

In [26]:
d1={"참외":10,"수박":20,"귤":50}
d2={"이름":"홍길동","나이":30,"주소":"서울시 종로구"}

In [27]:
# 조회: indexer [키]
d1['참외']

10

In [28]:
d2['이름'],d2['주소']

('홍길동', '서울시 종로구')

In [29]:
d2['몸무게']

KeyError: '몸무게'

In [ ]:
d2['몸무게']=80 # 없는 키에 값을 대입하면 추가
d2

In [ ]:
d2['이름']='이순신' # 있는 키에 값을 대입하면 변경
d2

In [ ]:
print(len(d2))
print("이순신" in d2) # key  in 딕셔너리 -> 딕셔너리 안에 키가 있는지?

### 주요 메소드

In [ ]:
num=d1['참외'] # 단순 조회
num

In [ ]:
num1=d1.pop('참외') # 제거 후 조회
num1

In [ ]:
del d1['수박']

In [ ]:
d1

In [ ]:
del d1['복숭아']

In [ ]:
d2.get('나이')

In [ ]:
v=d2.get('키') # 없는 키로 조회하면 None을 반환.
print(v)

In [ ]:
v=d2.get('키',-1) # 없으면 -1(기본값)을 반환
print(v)

In [ ]:
v=d2.get('이름',"이름없음")
v

In [ ]:
k=d2.keys() # 키값들을 모아서 반환
print(k)

In [ ]:
v=d2.values()
v

In [ ]:
i=d2.items()
i

In [ ]:
# dict() : 딕셔너리 만들어 주는 함수
# dict(key=value, key=value, key=value)

In [ ]:
d3=dict(귤=10,사과=20,수박=50) # key는 변수형태로, 문자열로 넣지 말것.
type(d3)

In [ ]:
print(d3)
print(d3['귤'])

## Set(집합)

In [ ]:
s1={1,2,3,3}
s1

In [ ]:
s2={10,5,20,8}
s2

In [ ]:
s3={1,1,1,2,2,2,2,3,3,3,4,4,4} #중복을 허용 안함.
s3

In [ ]:
l=[1,1,2,2,3,3,3]
l

In [ ]:
s4=set(l)
s4

In [ ]:
l2=list(s4)
l2

In [ ]:
# list(), tuple(), set() : 다른 자료구조를 자신의 타입으로 변환.
set((2,2,2,3,3))

In [ ]:
set(d3)

In [ ]:
l=[100,200,300,100,10,10]

In [30]:
s1.update(l) # 한번에 여러 개의 값들을 추가. update(자료구조)
s1

{1, 2, 3, 10, 100, 200, 300}

In [31]:
s1.remove(100)
s1

{1, 2, 3, 10, 200, 300}

In [32]:
s1.remove(10000)

KeyError: 10000

In [40]:
s1={1,2,3}
s2={3,4,5}
s3=s1|s2
print(s3)
s4=s1.union(s2)
print(s4)
s5=s1&s2
print(s5)
s6=s1.intersection(s2)
print(s6)
s7=s1-s2
print(s7)
s8=s1.difference(s2)
print(s8)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조): 리스트로 변환
- tuple(타입을 변경할 자료구조): 튜플로 변환
- set(타입을 변경할 자료구조): 셋으로 변환
- 변경할 자료구조가 딕셔너리인 경우, key값을 원소로 가지게 된다.
- 딕셔너리로 변환하는 함수는 없음.

In [43]:
print(list({1,2,3,4}))
print(tuple([1,2,3,4,5]))
print(tuple({"a":1,"b":2}))
print(set([1,1,2,3,4]))
print(dict(name='홍길동',age=20)) # {"name":"홍길동","age":20)}

[1, 2, 3, 4]
(1, 2, 3, 4, 5)
('a', 'b')
{1, 2, 3, 4}
{'name': '홍길동', 'age': 20}

In [44]:
sorted(l)

[10, 10, 100, 100, 200, 300]

In [ ]:
l.sort()

## 문제풀이

In [45]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)

In [ ]:
#(1)  7번의 점수를 출력하세요

In [47]:
print(jumsu[6])

80

In [ ]:
#(2)  1번부터 5번까지의 점수를 출력하세요.

In [48]:
print(jumsu[:5])

[100, 90, 100, 80, 70]

In [ ]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.

In [66]:
print(jumsu[3:7])

[80, 70, 100, 80]

In [ ]:
#(4) 짝수번째 점수를 출력하세요.

In [50]:
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [ ]:
#(5) 홀수번째 점수를 출력하세요.

In [51]:
print(jumsu[0::2])

[100, 100, 70, 80, 95]

In [ ]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)

In [ ]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.

In [53]:
jumsu[8]=20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [ ]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.

In [54]:
print(set(jumsu))

{100, 70, 80, 20, 85, 90}

In [55]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기"]

In [56]:
fruits.extend(["사과", "귤"])

In [ ]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..

In [69]:
d1={
    "이름":'정인제',
    "나이":30, 
    "email주소":None,
    "취미":["코딩",'독서','영화감상'],
    "결혼유무":True
}

In [70]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(d1["이름"],d1["email주소"])

정인제 None

In [71]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
# print(d1["취미2"])
print(d1['취미'][1])

독서

In [72]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d1['몸무게']=39
d1['키']=20
print(d1)

{'이름': '정인제', '나이': 30, 'email주소': None, '취미': ['코딩', '독서', '영화감상'], '결혼유무': True, '몸무게': 39, '키': 20}