In [1]:
bool([]), bool({})
# 자료구조: 원소가 0개이면 False, 1개 이상이면 True

(False, False)

In [3]:
num=10 # 만약 num이 0이면 "0입니다."로 출력, 아니면 출력안함.
if num==0:
    print("0입니다")
print("종료")

In [4]:
num=10
# if 조건: -조건: bool타입이 들어오는 곳. 다른 타입이 들어오면 알아서 타입변경.
if not num:
    print("0입니다")
print("종료")

종료

In [ ]:
# ?print # ?함수 : 함수 설명
# tab: 자동완성
# print   # Shift + Tab

In [5]:
# num이 0보다 크면 "양수" 출력,
# 0이면 "0"을 출력, 0보다 작으면 "음수" 출력
num=0
if num>0:
    print("양수")
elif num==0:
    print("0")
else:
    print("음수")

0

In [11]:
# '서울': 특별시
# 인천, 부산, 대구, 광주, 대전, 울산: 광역시
city=input("도시명:")

도시명:광주

In [13]:
if city=='서울':
    print(city+'특별시')
elif city in ['인천','부산','대구',
              '광주','대전','울산']:
    print(city+'는 광역시')
else:
    print('일반시')

광주는 광역시

In [ ]:
print(city, "특별시")#, sep="") 
# 구분자를 sep를 통하여 넣으면 여러개를 프린트할 때 
# 그 사이를 마음대로 변경 가능

In [ ]:
# Shift + L은 각 라인 번호 표시 토글키

# 반복문
- while 문
    - 조건이 True인 동안 반복
- for in 문
    - 자료구조(리스트,튜플,셋,딕셔너리)의 원소들을 하나씩 모두 조회할 때 사용.

## while 문

In [5]:
cnt=0
while cnt<10:
    print(cnt,end=' ')
    cnt+=1

print("종료")

0 1 2 3 4 5 6 7 8 9 종료

In [2]:
cnt=1
while cnt<=100:
    if cnt%5==0:
        print(cnt,end=' ')
    cnt+=1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [1]:
cnt=1
flag=True
while flag:
    if cnt%5==0:
        print(cnt,end=' ')
    cnt+=1
    if cnt>100:
        flag=False

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

## for in 문
```python
for 변수 in iterable:
    반복할 구문
```

In [7]:
fruits=['사과','복숭아','귤','수박','배']

index=0 #리스트의 index
length=len(fruits)
while index<length:
    print(fruits[index])
    index+=1

사과
복숭아
귤
수박
배

In [8]:
for fruit in fruits:
    print(fruit,end=',')
print('\n')
for num in (1,2,3,4,5):
    print(num,end=',')
print('\n')
for num in {10,20,30}:
    print(num,end=',')
print('\n')

사과,복숭아,귤,수박,배,

1,2,3,4,5,

10,20,30,

In [10]:
d={
    'a':10,
    'b':20,
    'c':30
}
for key in d:
    print(key, end="-")
    print(d[key], end="\n")

a-10
b-20
c-30

In [11]:
d.values(),d.keys(),d.items()
for v in d.values():
    print(v,end=', ')
for v in d.items():
    print(v[0],v[1],end='/')

10, 20, 30, a 10/b 20/c 30/

In [20]:
# key가 'b'인 item의 value를 출력
for v in d.items(): #(key,value)
    if v[0]=='b':
        print(v[1])

20

In [22]:
for key,value in d.items():
    if key=='b':
        print(v)

('c', 30)

In [24]:
lst=[
    [1,2,3],
    [10,20,30],
    [100,200,300]
]
# 아래는 모든 자료의 갯수가 똑같을 때만 사용가능
for l in lst:
    print(l,sep='-')

[1, 2, 3]
[10, 20, 30]
[100, 200, 300]

In [28]:
# 만약 모든 자료의 개수가 같지 않다면 이중 반복문으로
for s in lst:
    for v in l:
        print(v,end=", ")

100, 200, 300, 100, 200, 300, 100, 200, 300,

In [27]:
for s in "abc가나다":
    print(s,end="/")
# print로 출력할때 줄이 떨어지는게 싫으면
# print("aaa",end="") 이런식으로 end 캐릭터 사용

a/b/c/가/나/다/

In [32]:
cnt=1
while True:
    if cnt%5==0:
        print(cnt, end=', ')
    cnt+=1
    if cnt>100:
        break # 반복문 끝내기 예약어

5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,

In [ ]:
# while True:
#     print(1)
#     if 멈출조건:
#     break

In [34]:
cnt=1
while cnt<=100:
    if cnt%5!=0: # 5의 배수가 아니면
        cnt+=1
        continue
    print(cnt,end=', ')
    cnt+=1

5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,

## for in 문 관련 내장함수
- range()
- enumerate()
- zip()

### range([시작정수],종료정수,[증감정수]) - []는 생략가능

In [14]:
range(1,10,2)    # 1 ~ 10-1 2씩 증가
for i in range(1,10,2):
    print(i, end=' ')
#    break

1 3 5 7 9

In [15]:
lst=list(range(1,11))   # 1 ~ 11-1 1씩 증가(증감치 생략)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
tu=tuple(range(5)) # range(5): 종료정수. 0 ~ 4, 1씩 증가
tu

(0, 1, 2, 3, 4)

In [18]:
s=set(range(5))
s

{0, 1, 2, 3, 4}

In [20]:
print(list(range(1,10,-1)))
print(list(range(10,-10,-1)))

[]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [21]:
# 안녕 10번 반복 사용
# 변수를 '_' : 반복문 내에서 사용하지 않겠다.
for _ in range(10): # 0 ~ 9 : 10번
    print('안녕',end=', ')

안녕, 안녕, 안녕, 안녕, 안녕, 안녕, 안녕, 안녕, 안녕, 안녕,

### enumerate(Iterable [,start=시작값]) []: 생략가능

In [28]:
str_list=['가','나','다']
for s in enumerate(str_list):
    print(s)#,end=', ')

(0, '가')
(1, '나')
(2, '다')

In [29]:
for idx,s in enumerate(str_list):
    if idx==2:
        print(idx,s)

2 다

In [31]:
for idx,s in enumerate(str_list,start=100):
    print(idx,s)

100 가
101 나
102 다

### zip(iterable,iterable [, ...])

In [32]:
a=[1,2,3]
b=[10,20,30]
c=100,200,300,
d={'가','나','다'}

In [34]:
for v in zip(a,b,c,d):
    print(v)

(1, 10, 100, '나')
(2, 20, 200, '가')
(3, 30, 300, '다')

In [35]:
names=['홍길동','이순신','박영희']
ages=[20,30,40]
talls=[180,190,200]

In [36]:
for info in zip(names,ages,talls):
    print(info)

('홍길동', 20, 180)
('이순신', 30, 190)
('박영희', 40, 200)

In [37]:
for names,age,tall in zip(names,ages,talls):
    print(names,age,tall)

홍길동 20 180
이순신 30 190
박영희 40 200

## 컴프리헨션(Comprehension)

In [39]:
lst=[1,2,3,4,5]
# lst의 원소들에 각각 10을 더한 새로운 리스트 생성.

In [40]:
lst2=[]
for num in lst:
    lst2.append(num+10)

In [41]:
lst2

[11, 12, 13, 14, 15]

In [43]:
# 리스트 컴프리헨션
result=[(num+10)*2 for num in lst]
result

[22, 24, 26, 28, 30]

In [44]:
# set 컴프리헨션
result={(num+10)*2 for num in lst}
result

{22, 24, 26, 28, 30}

In [45]:
result2={num:'가' for num in lst} #{k:v, k:v}: 딕셔너리
result2, type(result2)

({1: '가', 2: '가', 3: '가', 4: '가', 5: '가'}, dict)

In [47]:
result3={idx*2:num for idx,num in enumerate(lst2)}
result3

{0: 11, 2: 12, 4: 13, 6: 14, 8: 15}

In [49]:
num_list=list(range(100))

In [52]:
#num_list의 원소들 중에 10의 배수만 가지는 리스트를 생성.
result=[]
for num in num_list:
    if num%10==0:
        result.append(num)
        print(num,end=" ")

0 10 20 30 40 50 60 70 80 90

In [53]:
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
result2=[num for num in num_list if num%10==0]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# [변수 for 변수 in iterable [for in 또는 if문][for in 또는 if문][for in 또는 if문]]

## To Do

In [1]:
x=20
# 91<=x<=100 # 기본문법은 지원, 하지만 이외 라이브러리서는 지원x
x>=91 and x<=100
(x>=91)&(x<=100)

False

In [3]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   : F학점
value=99 # int(input("학점입력: "))
if value>90:
    print("A학점")
elif value>80:
    print("B학점")
elif value>70:
    print("C학점")
elif value>60:
    print("D학점")
else:
    print('F학점')

A학점

In [21]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
s_v=0
for num in jumsu:
    s_v+=num
average=s_v/len(jumsu)
average

89.0

In [23]:
# sum(Iterable) : 합계 구하는 내장 함수.
sdf=[1,2,4]
del sum
sum(sdf)/len(sdf)

2.3333333333333335

In [60]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
		
for idx,jum in enumerate(jumsu):
    if jum>=average:
        print(str(idx)+'-'+'pass')
    else:
        print(str(idx)+'-'+'fail')

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [26]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_val=0
for jum in jumsu:
    if max_val<jum:
        max_val=jum
print(max_val)

95

In [27]:
# 내장함수
print(max(jumsu))
print(min(jumsu))
print(sum(jumsu))

95
55
785

In [63]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]
for jum in str_list:
    if jum=='정':
        continue
    print(jum)

갑
을
병

In [64]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
value=int(input("단을 입력하시오 :"))
for num in range(9):
    print(value,'x',num+1,' = ',value*(num+1))

단을 입력하시오 :2
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18

In [65]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
lst2=[num*2 for num in lst]
lst2

[20, 60, 140, 10, 240, 1400, 2, 70]

In [67]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
lst2=[num*10 for num in lst]

lst3=[]
for z in zip(lst,lst2):
    lst3.append(z)
lst3

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [70]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

lst4=[num for num in lst2 if num%3==0]
lst4

[3, 33, 21, 33, 60, 120]

In [73]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

lst5=[str1 for str1 in file_name if str1.endswith('exe')]
lst5

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [75]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

lst6=[str1 for str1 in file_name if len(str1)>=10]
lst6

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [49]:
import random
num=random.randint(1,100)
print(num)

72

In [ ]:
1. random으로 모르는 수 생성.
2. 값을 입력.
3. while문 사용
4. 와일문 내에서 모르는수 입력받은 수를 비교.
5. 맞을 시에는 종료 아니면 계속 반복.입력하는 작업 반복.
6. count를 세야함. hint도 출력.

In [52]:
import random
num = random.randint(1,100)

value = int(input("1에서 100 사이의 숫자를 입력하시오: "))
cnt = 1
while True:
    if value == num:
        print(f'{cnt}번째 시도에 맞췄습니다')
        break
    elif value > num:
        print('>>> 더 작은 숫자를 입력하세요.')
        print(f'{cnt}번째 시도입니다')
        print('-'*10)
        value = int(input("1에서 100 사이의 숫자를 입력하시오: "))
        cnt+=1
        
    else:
        print('>>> 더 큰 숫자를 입력하세요.')
        print(f'{cnt}번째 시도입니다')
        print('-'*10)
        value = int(input("1에서 100 사이의 숫자를 입력하시오: "))
        cnt+=1

1에서 100 사이의 숫자를 입력하시오: 50
>>> 더 작은 숫자를 입력하세요.
1번째 시도입니다
----------
1에서 100 사이의 숫자를 입력하시오: 20
>>> 더 작은 숫자를 입력하세요.
2번째 시도입니다
----------
1에서 100 사이의 숫자를 입력하시오: 10
3번째 시도에 맞췄습니다